<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ccpp.my2c2psdk"
    android:versionCode="1"
    android:versionName="140716" >
    
       <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
 <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />
    
</manifest>
